# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

/bin/
bin-obj/
!3rdPart/bin/premake/*
**bin-int/

*imgui.ini

# JF files
**.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user