[submodule "JFEngine/3rdPart/spdlog"]
	path = JFEngine/3rdPart/spdlog
	url = https://github.com/gabime/spdlog.git

[submodule "JFEngine/3rdPart/glfw"]
	path = JFEngine/3rdPart/glfw
	url = https://github.com/WangYiTao0/glfw.git
[submodule "JFEngine/3rdPart/imgui"]
	path = JFEngine/3rdPart/imgui
	url = https://github.com/WangYiTao0/imgui.git
[submodule "JFEngine/3rdPart/glm"]
	path = JFEngine/3rdPart/glm
	url = https://github.com/g-truc/glm.git
